{% extends 'layout/_main.html' %}

{% block content %}
<section id="main">
  <div class="container-sm">
    <h1>todos</h1>
    <div class="input-wrap">
      <span class="complete-all">&#9660;</span>
      <input id="new-input" class="new-input" placeholder="What needs to be done?" autofocus>
    </div>
    <div id="todo-list" class="todo-list"></div>

    <div class="bottom-wrap hide">
      <div><span id="item-count" class="item-count"></span> item(s) left</div>
      <div>
        <button class="btn active btn-all" id="btn-all">all</button>
        <button class="btn btn-active" id="btn-active">active</button>
        <button class="btn btn-complete" id="btn-complete">completed</button>
      </div>
    </div>
  </div>
</section>
{% endblock %}
