.container-sm {
  max-width: 500px;
  margin: auto;
}

h1 {
  font-size: 100px;
  color: #666;
}

.new-input {
  padding: 16px 60px;
  width: 100%;
  font-size: $font-size-sm;
  color: #333;
}

.todo-list {

  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 0;
    border-bottom: 1px solid #ddd;
  }

  .content {
    flex: 2;
    border: 0;
    padding: 0 10px;
    font-size: $font-size-sm * 1.2;
  }

  .complete-btn {
    border: 1px solid #aaa;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }

    &:checked {
      color: #000;
    }
  }

  .delete-btn {
    &:hover {
      cursor: pointer;
    }
  }
}

.active {
  border-color: orange;
}

.hide {
  display: none !important;
}

.bottom-wrap {
  font-size: $font-size-sm;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.complete {
  // .complete-icon {
  //   visibility: visible;
  // }
  .content {
    text-decoration: line-through;
    color: #aaa;
  }
}

