.container-sm {
  max-width: 500px;
  margin: auto;
}

h1 {
  font-size: 100px;
  color: #666;
}

.new-input {
  padding: 16px 16px 16px 60px;
  width: 100%;
  font-size: $font-size-sm;
  color: #333;
}

#todo-list {
  li {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
  }

  .delete-btn {
    float: right;

    &:hover {
      cursor: pointer;
    }
  }

  .complete-btn {
    border: 1px solid #aaa;
    padding: 2px 5px;
    margin-right: 20px;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
      background: #ddd;
    }
  }
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.active {
  border-color: orange;
}

.display-none {
  display: none;
}

.bottom-wrap {
  font-size: $font-size-sm;
  margin-top: 20px;
  display: none;
  justify-content: space-between;
  align-items: center;
}
